/* =============================================== */
/*  Variable Declaration										   		 */
/* =============================================== */

/* Colors */

// Grays & Whites -
$faint_white: #fcfcfc; // YouTube's like button color
$cool_gray: #ededed;
$pleasant_gray: #ddd;

// Plain - 
$blue: #4a9ec1;

// Special -
$border_color: $pleasant_gray;
$link_color: $blue;
$background_color: #eee;

/* Fonts */
$common_font: serif;

/* Measurements */

// General
$central_width: 950px;