<!--campaigns/index-->
<div id="campaign_index">
	<span class="popular">Popular Campaigns</span>
	<% @popular_campaigns.each do |campaign| %>
		<div class="campaign">
			<%= render :partial => "campaigns/partials/campaign", :locals => { :campaign => campaign } %>
		</div>
	<% end %>
</div>