<!--campaigns/show-->
<div id="campaign_show">
	<div class="right">
		<%= render :partial => "campaigns/partials/vote_form", :locals => { :campaign => @campaign } %>
	</div>
	
	<div id="title">
		<%= @campaign.title %>
	</div>
	
	<div id="description">
		<%= @campaign.description %>
	</div>
</div>