@import "partials/variables";

div.up_count {
  color: $green;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  a.vote_button {
    font-size: 15px;
    color: $pleasant_gray;
  	&:hover {
      color: blue;
  	}
  }
}

#campaign_new, #campaign_edit {
  form {
    text-align: center;
    div#title_area {
      input#title_form {
        font-size: 20px;
      }
    }
    
    div#description_area {
      #description_form {
        font-size: 18px;
      }
    }

    div#buttons {
      input#submit_campaign_button {
      }
    }
  } // end form
}

#campaign_index {
  margin-top: 20px;
  span.popular {
    font-size: 20px;
    font-weight: bold;
    color: $blue;
  }
  
  div.campaign {
    margin: 10px 5px;
    div.title {
      font-size: 16px;
    }
  }
  
}

#campaign_show {
  div#title {
    font-size: 24px;
    color: $blue;
    font-weight: bold;
  }
  div#description {
    font-size: 14px;
    color: $blue;
  }
}